page-footer {

    .ico {
        font-size: 2.5em; 
        color: #8f5918; 
        position: absolute; 
        bottom: 20%;
        //top: 50%; 
        //transform: translate(10%, -50%);
    }

    // .ico span{
        
    // }

}
